/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu {
        display: none;
    }

    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #0f1b4c;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
        padding: 40px;
    }
    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        color: #0f1b4c;
        display: block;
        padding: 14px 0;
        font-weight: 400;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1px solid #e2e2e2;
    }

    .hero-img {
        display: none;
    }

    .hero .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .clients .images {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column-reverse;
    }

    .stats .info {
        padding: 0;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
        margin-bottom: 50px;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .body img {
        display: none;
    }

    footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 50px;
    }
}

/* Tablet */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .hide-on-tablet {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 30px;
        inset: 0 35% 0 0;
    }

    .navbar .action {
        display: none;
    }

    .hero .title {
        font-size: 5.2rem;
    }

    .clients .desc {
        font-size: 1.4rem;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 60px;
    }

    .featured .sub-title {
        font-size: 3.3rem;
    }

    .featured .row {
        flex-direction: column;
    }

    .featured .link {
        margin-top: 30px;
        font-size: 1.6rem;
    }

    .featured .list {
        grid-template-columns: 1fr;
    }

    .stats .sub-title {
        width: 100%;
    }

    .stats .img-block .image {
        width: 100%;
    }

    .stats .img-block .stat-trend {
        border-radius: 0px 0px 12px 0px;
    }

    .stats .row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .subscription .info {
        padding: 30px;
    }

    .subscription .body {
        height: auto;
    }

    footer .row-top {
        grid-template-columns: 1fr;
    }

    footer .row-bottom {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }

    .hero-wrap {
        height: calc(100vh - 74px);
    }
}
